<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.icloud.game.yzhlddz">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.sdk.test.GameApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        <activity
            android:name="com.sdk.test.LoginActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sdk.test.GameActivity"
            android:label="@string/title_activity_account"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.swzg.yzxx.wxapi.WXEntryActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name="com.swzg.yzxx.wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent" />

        <meta-data
            android:name="IS_DEBUG"
            android:value="true" />
        <meta-data
            android:name="WX_APP_ID"
            android:value="wxcf4fb06f637de94b" />
        <meta-data
            android:name="GAME_ID"
            android:value="6" />
        <meta-data
            android:name="CHANNEL_ID"
            android:value="6000" />
        <meta-data
            android:name="SERVER_URL"
            android:value="https://sdk.988wan.com" />
        <meta-data
            android:name="APP_KEY"
            android:value="ce5d45328863183d" />
        <meta-data
            android:name="APP_SECRET"
            android:value="1f4476c03ba1a1ac1f14f5ec89a275ff" />
        <meta-data
            android:name="ACTION_ID"
            android:value="160745" />
        <meta-data
            android:name="ACTION_KEY"
            android:value="swzg" />

        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:exported="false"
            android:screenOrientation="behind" />
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:exported="false"
            android:screenOrientation="behind" />
    </application>
</manifest>
